<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DndCreator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <DndCreator.Properties.Settings>
            <setting name="MaxClassLevel" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="MaxSpellLevel" serializeAs="String">
                <value>9</value>
            </setting>
        </DndCreator.Properties.Settings>
    </applicationSettings>
</configuration>